<div class="flip-card hideMe" id="card-{{this.id}}">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      
      <p id="question-card" deck={{this.id}}> {{this.question}}</p>
   
    </div>

    <div class="flip-card-back">
      <h3>Your Answer:</h3> 
    
      <p>{{this.answer}}</p> 
      
 
    </div>
  </div>
   <button type="button" data-id={{this.id}} class="back">Back</button>

  <button type="button" id="button-{{this.id}}" data-id={{this.id}} class="next">Next</button>

  </div>

  <script src="/javascript/next.js"></script>
  <script src="/javascript/back.js"></script>



  